/* List of Notes */
#math-notes-list {
    list-style-type: none;
    padding: 0;
}

#math-notes-list li {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#math-notes-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Search Bar */
.search-bar {
    margin: 20px 0;
    text-align: center;
}

#math-search-input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
